@model UpdateVM
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update User</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger d-block mt-3">
                        </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <input asp-for="Surname" class="form-control">
                        <span asp-validation-for="Name" class="text-danger d-block mt-3">
                        </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger d-block mt-3">
                        </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger d-block mt-3">
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Select Role</label>
                        <select name="role" class="form-control">
                            @foreach (string item in ViewBag.Roles)
                            {
                                if (Model.Role == item)
                                {
                                    <option selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
