@model About


<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update About</h4>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Photo</label>
                        <input asp-for="Photo" class="form-control">
                        <span class="text-danger d-block mt-3" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Title" class="form-control">
                        <span class="text-danger d-block mt-3" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>

}